* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f8f9fa;
  color: #333;
}
